@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('../fonts/PFDinTextCondPro-Bold.eot');
    src: url('../fonts/PFDinTextCondPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFDinTextCondPro-Bold.woff2') format('woff2'),
        url('../fonts/PFDinTextCondPro-Bold.woff') format('woff'),
        url('../fonts/PFDinTextCondPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('../fonts/PFDinTextCondPro-Regular.eot');
    src: url('../fonts/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFDinTextCondPro-Regular.woff2') format('woff2'),
        url('../fonts/PFDinTextCondPro-Regular.woff') format('woff'),
        url('../fonts/PFDinTextCondPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('../fonts/PFDinTextCondPro-Bold_1.eot');
    src: url('../fonts/PFDinTextCondPro-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFDinTextCondPro-Bold_1.woff2') format('woff2'),
        url('../fonts/PFDinTextCondPro-Bold_1.woff') format('woff'),
        url('../fonts/PFDinTextCondPro-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

