*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #000;
	text-decoration: none;
	outline: none;
}
html, body{
	overflow-x: hidden;
}
.img-fluid{
	max-width: 100%;
}
header{
	.wrapper{
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		padding: 0 20px;
		
		.logo{
			max-width: 300px;
		}
		.menu-btn{
			display: none;
		}
		.menu{
			background-color: #fff;
			display: block;
			font-size: 30px;
			z-index: 99;
			.menu-inner{
				display: flex;
				justify-content: flex-end;
				align-items: center;

				.nav{
					display: flex;
					justify-content: space-between;
					padding: 40px 0;

					a{
						font-weight: 700;
						padding-left: 70px;

						&:hover{
							text-decoration: underline;
						}
					}
				}
				.login{
					display: flex;
					justify-content: space-between;
					margin-left: 130px;
					
					a:hover{
						text-decoration: underline;
					}

					span{
						padding: 0 10px;
					}
					a.signin{
						color: #ff0000;
						font-weight: 700;
					}
				}
			}
		}
		&.unauthed{
			.login-auth{
				display: none;
			}
		}
		&.authed{
			.login-auth{
				display: block;
				position: relative;
				margin-left: 200px;

				.mini-avatar{
					position: relative;
					width: 160px;
					padding-left: 69px;
					height: 91px;
					background-image: url('../img/avatar.png');
					background-size: 91px 91px;
					background-repeat: no-repeat;
					background-position: 100%;

					&::after{
						content: '';
						position: absolute;
						width: 15px;
						height: 28px;
						background-image: url('../img/arrow-orange.png');
						background-size: 15px 28px;
						transform: rotate(90deg);
						left: 10px;
						top: 30px;
					}
				}
				.actions{
					display: none;
					position: absolute;
					right: 0;
					width: 230px;
					text-align: center;
					padding: 22px 30px;
					background: #fff;

					a{
						display: block;
						font-size: 24px;
						font-weight: 700;
						padding-top: 18px;
						padding-bottom: 18px;
						border-bottom: 3px solid #a89fab;

						&:first-child{
							padding-top: 0;
						}
						&:last-child{
							padding-bottom: 0;
							border-bottom: 0;
						}
					}
				}
			}
			.login{
				display: none !important;
			}
		}
	}
}
section.main{
	background: url('../img/bg.png') no-repeat;
	background-position: 40% 90%;
	background-size: cover;
	.wrapper{
		position: relative;
		max-width: 1680px;
		margin: 0 auto;
		.news{			
			padding: 54px 35px 23px;
			box-shadow: -25px -22px 0px 0px #ff0000;
			width: 460px;
			height: 270px;
			position: absolute;
			top: 130px;
			z-index: 999;
			background-color: #fff;
			
			.date{
				padding-right: 5px;
				
				p{
					font-size: 20px;
					color: #ff0000;
					text-align: left;
				}
			}
			.heading{
				font-size: 26px;
				font-weight: 700;
				margin-top: 30px;
				margin-bottom: 24px;
			}
			.descr{
				font-size: 20px;
				font-weight: 700;

			}
		}

		.content-wrapper{
			position: relative;
			padding: 0 0 20px;
			.content{
				display: flex;
				justify-content: center;
				align-items: flex-end;
				p.heading{
					font-size: 30px;
					color: #fff;
					font-weight: 700;
					text-align: center;
					margin: 55px 0 35px;
					position: relative;
					order: 2;
				}
				.content-1{
					display: flex;
					flex-direction: column;
					.content-inner{
						display: flex;
						justify-content: center;
						align-items: flex-end;
						
						.item{
							background-color: #fff;
							font-size: 18px;
							display: flex;
							flex-direction: column;
							align-items: center;
							text-align: center;
							border: none;
							max-width: 160px;

							p.descr{
								padding-top: 10px;
								font-size: 22px;
							}
						}
						.item-1{
							padding: 20px 10px 20px;
						}
						.item-2{
							padding: 30px 10px 30px;
							margin: 0 16px 0;
						}
						.item-3{
							padding: 40px 10px 40px;
						}
					}
				}
				.content-2{
					display: flex;
					flex-direction: column;
					margin-left: 58px;
					margin-right: 58px;
					.content-inner{
						display: flex;
						justify-content: center;
						align-items: flex-end;
						
						.item{
							background-color: #fff;
							font-size: 18px;
							display: flex;
							flex-direction: column;
							align-items: center;
							text-align: center;
							border: none;
							max-width: 160px;

							p.descr{
								font-size: 22px;
							}
						}
						.item-1{
							padding: 30px 10px 30px;

							p.descr{
								padding-top: 40px;
							}
						}
						.item-2{
							padding: 30px 10px 30px;
							margin: 0 16px 0;

							p.descr{
								padding-top: 50px;
							}
						}
						.item-3{
							padding: 30px 10px 30px;

							p.descr{
								padding-top: 50px;
							}
						}
					}
				}
				.content-3{
					display: flex;
					flex-direction: column;
					width: 424px;
					margin-top: 90px;
					.content-inner{
						display: flex;
						justify-content: space-around;
						flex-wrap: wrap;
						
						.item{
							background-color: #fff;
							font-size: 18px;
							display: flex;
							flex-direction: column;
							align-items: center;
							text-align: center;
							border: none;
							width: 200px;
							padding: 22px 12px 22px;

							p.descr{
								padding-top: 10px;
								font-size: 22px;
							}
						}
						.item-1, .item-3, .item-5{
							margin-right: 24px;
						}
						.item-3, .item-4{
							margin-top: 24px;
							margin-bottom: 24px;
						}
					}
				}
			}	
		}
	}
}
footer.footer{
	display: flex;
	justify-content: space-around;
	font-weight: 700;
	align-items: center;
	padding: 50px 25px;

	p{
		font-size: 34px;
		font-weight: 700;
	}
	a{
		font-size: 25px;
		background: #ff0000;
		text-transform: uppercase;
		padding: 22px 36px;
		color: #fff;
		margin-left: 20px;
		font-weight: 700;
	}
}

/*Media queries*/
@media screen and (max-width: 1650px){
	header{
		.wrapper{
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;

			.logo{
				max-width: 300px;
			}
			.menu-btn{
				display: none;
			}
			.menu{
				background-color: #fff;
				display: block;
				font-size: 24px;
				z-index: 99;

				.menu-inner{
					display: flex;
					justify-content: flex-end;

					.nav{
						display: flex;
						justify-content: space-between;

						a{
							padding-left: 30px;
						}
					}
					.login{
						display: flex;
						justify-content: space-between;
						margin-left: 50px;

						span{
							padding: 0 10px;
						}
						a.signin{
							color: #ff0000;
							font-weight: 700;
						}
					}
				}
			}
		}
	}
	section.main{
		.wrapper{
			.news{
				border-top: 40px solid #ff0000;
				padding: 30px 0 30px 60px;
				display: block;
				position: static;
				box-shadow: none;
				width: 100%;
				height: auto;
				
				.date{
					p{
						font-size: 16px;
						text-align: left;
					}
				}
				.heading{
					font-size: 24px;
					margin: 10px 0;
				}
				.descr{
					font-size: 16px;

				}
			}

			.content-wrapper{
				padding: 20px 0px 20px;
				.content{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
					align-items: flex-end;
					p.heading{
						font-size: 24px;
						color: #fff;
						font-weight: 700;
						text-align: center;
						margin-bottom: 55px;
						margin-top: 0;
						position: relative;
					}
					.content-1{
						display: block;
						.content-inner{
							display: flex;
							justify-content: center;
							align-items: flex-end;
							
							.item{
								background-color: #fff;
								font-size: 18px;
								display: flex;
								flex-direction: column;
								align-items: center;
								text-align: center;
								border: none;
								max-width: 160px;

								p.descr{
									padding-top: 10px;
									font-size: 18px;
								}
							}
							.item-1{
								padding: 20px 10px 20px;
							}
							.item-2{
								padding: 30px 10px 30px;
								margin: 0 16px 0;
							}
							.item-3{
								padding: 40px 10px 40px;
							}
						}
					}
					.content-2{
						display: block;
						margin: 0;
						.content-inner{
							display: flex;
							justify-content: center;
							align-items: flex-end;
							
							.item{
								background-color: #fff;
								font-size: 18px;
								display: flex;
								flex-direction: column;
								align-items: center;
								text-align: center;
								border: none;
								max-width: 160px;

								p.descr{
									font-size: 18px;
								}
							}
							.item-1{
								padding: 30px 10px 30px;

								p.descr{
								}
							}
							.item-2{
								padding: 30px 10px 30px;
								margin: 0 16px 0;
								justify-content: space-between;

								p.descr{
								}
							}
							.item-3{
								padding: 30px 10px 30px;

								p.descr{
								}
							}
						}
					}
					.content-3{
						display: block;
						width: 100%;
						margin-top: 60px;
						.content-inner{
							display: flex;
							justify-content: space-around;
							
							.item{
								background-color: #fff;
								font-size: 18px;
								display: flex;
								justify-content: space-around;
								align-items: center;
								text-align: center;
								border: none;
								width: 200px;
								padding: 22px 12px 22px;

								p.descr{
									padding-top: 10px;
									font-size: 18px;
								}
							}
							.item-1, .item-3, .item-5{
								margin-right: 0px;
							}
							.item-3, .item-4{
								margin-top: 0px;
								margin-bottom: 0px;
							}
						}
					}
				}	
			}
		}
	}
	footer.footer{
		padding: 20px;
		p{
			font-size: 30px;
		}
	}
}
@media screen and (max-width: 1250px){
	header{
		padding-top: 10px;
		.wrapper{
			align-items: center;
			padding: 0;

			.logo{
				max-width: 250px;
				margin-left: 30px;
			}
			.menu-btn{
				margin-right: 35px;
				position: relative;
				display: block;
				right: 0;
				bottom: 0;
				width: 70px;
				height: 42px;
				&::after, &::before{
					content: "";
					position: absolute;
					height: 6px;
					width: 100%;
					background: #000;
					border-radius: 2px;
					transition: .2s ease;
					transform-origin: center center;
					right: 0;
				}
				&::after{
					content: "";
					position: absolute;
					height: 6px;
					width: 100%;
					background: #000;
					top: 0;
				}
				&::before{
					content: "";
					position: absolute;
					height: 6px;
					width: 100%;
					background: #000;
					bottom: 0;
				}
				span{
					position: absolute;
					height: 6px;
					width: 100%;
					background: #000;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
					border-radius: 2px;
					transition: .2s ease;
				}
			}
			.menu-btn_active{
				&::after{
					transform: rotate(-45deg);
					width: 52px;
					transform-origin: right;
				}
				&::before{
					transform: rotate(45deg);
					width: 52px;
					transform-origin: right;
				}
				span{
					width: 0;
				}
			}
			.menu{
				position:absolute;
				width: 100%;
				top: 100%;
				background-color: #fff;
				display: none;
				border: 30px solid #fff;
				margin: 0;
				font-size: 24px;
				z-index: 99;

				.menu-inner{
					display: flex;
					justify-content: space-between;
					align-items: flex-start;

					.nav{
						display: flex;
						flex-direction: column;
						padding: 0;
						a{
							padding-left: 0;
							padding-bottom: 20px;
						}
					}
					span{
						display: none;
					}
					.login{
						display: flex;
						flex-direction: column;
						margin: 0;
						justify-content: flex-start;

						.signin{
							color: #000!important;
							font-weight: 400!important;
						}
					}
					.login-auth{
						margin: 0;
						.mini-avatar{
							display: none;
						}
						.actions{
							padding: 0;
							position: static;
							display: block;
							width: auto;
							
							a{
								border: none;
								padding: 0;
								padding-bottom: 20px;
							}
						}
					}
				}
			}
		}
	}
	section.main{
		.wrapper{
			.news{
				border-top: 40px solid #ff0000;
				margin-top:10px;
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 10px;
				
				.date{
					padding-right: 5px;
					
					p{
						font-size: 14px;
						text-align: right;
					}
				}
				.heading{
					font-size: 20px;
				}
				.descr{
					font-size: 14px;

				}
			}

			.content-wrapper{
				position: relative;
				background: url('../img/bg.png') no-repeat;
				background-position: 40% 100%;
				background-size: cover;
				padding: 20px 0 20px;
				p.heading{
						font-size: 30px;
						color: #fff;
						font-weight: 700;
						text-align: center;
						margin-bottom: 55px;
						position: relative;
				}
				.content{
					
					.slick-track{
						display:flex;
						align-items: center;
					}
					.content-1{
						.content-inner{
							margin-bottom: 20px;
							
							.item{
								p.descr{
									padding-top: 10px;
									font-size: 18px;
								}
							}
							.item-1{
								img{
									width: 63px;
								}
							}
							.item-2{
								img{
									width: 85px;
								}
							}
							.item-3{
								img{
									width: 75px;
								}
							}
						}
					}
					.content-2{
						.content-inner{
							display: flex;
							justify-content: center;
							align-items: flex-end;
							margin-bottom: 20px;
							
							.item{

								p.descr{
									padding-top: 10px;
									font-size: 18px;
								}
							}
							.item-1{
								padding: 30px 10px 30px;

								p.descr{
									padding-top: 20px;
								}
								img{
									width: 85px;
								}
							}
							.item-2{
								padding: 30px 10px 30px;
								margin: 0 16px 0;

								p.descr{
									padding-top: 30px;
								}
								img{
									width: 72px;
								}
							}
							.item-3{
								padding: 30px 10px 30px;

								p.descr{
									padding-top: 30px;
								}
								img{
									width: 72px;
								}
							}
						}
					}
					.content-3{
						margin: 0;
						.content-inner{
							display: flex;
							justify-content: center;
							align-items: stretch;
							flex-wrap: wrap;
							max-width: 600px;
							margin: 0 auto;
							margin-bottom: 20px;
							
							.item{
								background-color: #fff;
								font-size: 18px;
								display: flex;
								flex-direction: column;
								align-items: center;
								text-align: center;
								border: none;
								width: 160px;
								padding: 12px;
								margin-bottom: 25px;

								img{
									width: 70px;
								}
								p.descr{
									padding-top: 10px;
									font-size: 18px;
								}
							}
							.item-2, .item-5{
								margin: 0 16px 25px;
							}
						}
					}
				}	
			}
		}
	}
	footer.footer{
		padding: 40px 25px 40px 50px;

		p{
			font-size: 24px;
		}
		a{
			font-size: 20px;
		}
	}
}
@media screen and (max-width: 650px){
	header{
		padding-top: 10px;
		.wrapper{
			.logo{
				margin-left: 10px;
				max-width: 240px;
			}
			.menu-btn{
				margin-right: 10px;
			}
			.menu{
				.menu-inner{

					.login-auth{
						margin-left: 0;
						.actions{
							width: auto;
						}
					}
					.nav{
						a{
							padding-left: 0;
						}
					}
				}
			}
			a{
				font-size: 18px!important;
			}
		}
	}
	section.main{
		.wrapper{
			.news{
				border-top: 40px solid #ff0000;
				margin-top: 10px;
				padding-top: 10px;
				padding-bottom: 20px;
				
				.date{
					padding-right: 5px;
					
					p{
						font-size: 16px;
					}
				}
				.heading{
					font-size: 24px;
				}
				.descr{
					font-size: 16px;

				}
			}

			.content-wrapper{
				background: url('../img/bg.png') no-repeat;
				background-position: 40% 100%;
				background-size: cover;
				padding: 20px 0 20px;
				p.heading{
					font-size: 30px;
					color: #fff;
					font-weight: 700;
					text-align: center;
					margin-bottom: 55px;
				}
				.content{
					.content-1{
						.content-inner{
							justify-content: center;
							.item{
								background-color: #fff;
								margin: 0;
								width: 100px;

								p.descr{
									font-size: 16px;
								}
							}
							.item-1{
								padding: 20px 10px 20px;
								img{
									width: 47px;
								}
							}
							.item-2{
								padding: 30px 10px 30px;
								margin: 0 16px;
							}
							.item-3{
								padding: 40px 10px 40px;
							}
						}
					}
					.content-2{
						.content-inner{
							justify-content: center;
							
							.item{
								background-color: #fff;
								font-size: 18px;
								border: none;
								margin: 0;
								width: 100px;

								p.descr{
									font-size: 16px;
								}
							}
							.item-1{
								padding: 30px 10px 30px;

								p.descr{
									padding-top: 20px;
								}
							}
							.item-2{
								padding: 30px 10px 30px;
								margin: 0 16px;
								p.descr{
									padding-top: 30px;
								}
							}
							.item-3{
								padding: 30px 10px 30px;


								p.descr{
									padding-top: 30px;
								}
							}
						}
					}
					.content-3{
						.content-inner{
							width: 332px;
							justify-content: center;
							
							.item{
								width: 100px;
								p.descr{
									padding-top: 10px;
									font-size: 16px;
								}
							}
						}
					}
				}	
			}
		}
	}

	footer.footer{
		padding: 10px;

		p{
			font-size: 14px;
		}
		a{
			font-size: 14px;
			margin-left: 0;
			padding: 15px 20px;
		}
	}
}
@media screen and (max-width: 500px){
	header{
		.wrapper{
			.logo{
				margin-left: 10px;
				max-width: 200px;
			}
			.menu-btn{
				width: 50px;
				height: 32px;
				&::after, &::before{
					height: 4px;
				}
				span{
					height: 4px;
					transform: translateY(-50%);
				}
			}
			.menu-btn_active{
				&::after{
					transform: rotate(-45deg);
					width: 40px;
					transform-origin: right;
				}
				&::before{
					transform: rotate(45deg);
					width: 40px;
					transform-origin: right;
				}
				span{
					width: 0;
					right: 0;
				}
			}
			.menu{
				border: 10px solid #fff;
				border-top: 20px solid #fff;
				border-bottom: 20px solid #fff;

				.login-auth{
					margin-left: 0;
				}
			}
			a{
				font-size: 18px!important;
			}
		}
	}
	section.main{
		.wrapper{
			.news{
				border-top: 40px solid #ff0000;
				padding-top: 10px;
				padding-bottom: 20px;
				
				.date{
					padding-right: 5px;
					
					p{
						color: #ff0000;
						font-size: 14px;
						text-align: right;
					}
				}
				.heading{
					font-size: 20px;
					font-weight: 700;
				}
				.descr{
					font-size: 14px;
				}
			}
			.content-wrapper{
				p.heading{
					font-size: 20px;
				}
				.content{
					.content-1{
						.content-inner{
							.item{
								max-width: 100px;
								p.descr{
									font-size: 14px;
								}
							}
							.item-1{
								img{
									max-width: 40px;
								}
							}
							.item-2{
								img{
									max-width: 60px;
								}
							}
							.item-3{
								img{
									max-width: 60px;
								}
							}

						}
					}
					.content-2{
						.content-inner{
							.item{
								max-width: 100px;
								padding: 20px 10px;
								p.descr{
									font-size: 14px;
									padding-top: 10px;
								}
							}
							.item-1{
								img{
									max-width: 40px;
								}
								p.descr{
								}
							}
							.item-2{
								img{
									max-width: 60px;
								}
								p.descr{
								}
							}
							.item-3{
								img{
									max-width: 60px;
								}
								p.descr{
								}
							}

						}
					}
					.content-3{
						.content-inner{
							width: 100%;
							max-width: 332px;
							justify-content: space-around;
							align-items: stretch;
							margin-bottom: 0;
							.item{
								max-width: 130px;
								padding: 10px;
								margin: 0;
								margin-bottom: 20px;
								p.descr{
									font-size: 13px;
								}
								img{
									max-width: 60px;
								}
							}
							.item-1{
								
							}
							.item-2{
								
							}
							.item-3{
								
							}

						}
					}
				}
			}
		}
	}
}