* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  outline: none;
}

html, body {
  overflow-x: hidden;
}

.img-fluid {
  max-width: 100%;
}

section.main {
  /*background-image: url("/t-include/image.asp");*/
  background-image: url("../img/bg-2.jpg");
  background-repeat: no-repeat;
  background-position: 40% 90%;
  background-size: cover;
}

section.main .wrapper {
  position: relative;
  max-width: 1680px;
  margin: 0 auto;
}

section.main .wrapper .news {
  padding: 54px 35px 23px;
  -webkit-box-shadow: -25px -22px 0px 0px #ff0000;
  box-shadow: -25px -22px 0px 0px #ff0000;
  width: 460px;
  min-height: 270px;
  position: absolute;
  top: 130px;
  z-index: 999;
  background-color: #fff;
}

section.main .wrapper .news .slider-news .slick-slide{
  display: flex;
  justify-content: space-between;
}

section.main .wrapper .news .slider-news .slick-slide .img-wrapper{
  margin-right: 20px;
}

section.main .wrapper .news .slider-news .slick-slide .img-wrapper:last-child{
  margin-right: 0;
}

section.main .wrapper .news .slider-news .slick-slide .img-wrapper img{
  max-width: 100%;
}

section.main .wrapper .news .date {
  padding-right: 5px;
}

section.main .wrapper .news .date p {
  font-size: 20px;
  color: #ff0000;
  text-align: left;
}

section.main .wrapper .news .heading {
  font-size: 26px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 24px;
}

section.main .wrapper .news .descr {
  font-size: 20px;
  font-weight: 700;
}

section.main .wrapper .content-wrapper {
  position: relative;
  padding: 0 0 20px;
}

section.main .wrapper .content-wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

section.main .wrapper .content-wrapper .content p.heading {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin: 55px 0 35px;
  position: relative;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

section.main .wrapper .content-wrapper .content .content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

section.main .wrapper .content-wrapper .content .content-1 .content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

section.main .wrapper .content-wrapper .content .content-1 .content-inner .item {
  background-color: #fff;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border: none;
  max-width: 160px;
}

section.main .wrapper .content-wrapper .content .content-1 .content-inner .item p.descr {
  padding-top: 10px;
  font-size: 22px;
}

section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-1 {
  padding: 20px 10px 20px;
}

section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-2 {
  padding: 30px 10px 30px;
  margin: 0 16px 0;
}

section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-3 {
  padding: 40px 10px 40px;
}

section.main .wrapper .content-wrapper .content .content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 58px;
  margin-right: 58px;
}

section.main .wrapper .content-wrapper .content .content-2 .content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

section.main .wrapper .content-wrapper .content .content-2 .content-inner .item {
  background-color: #fff;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border: none;
  max-width: 160px;
}

section.main .wrapper .content-wrapper .content .content-2 .content-inner .item p.descr {
  font-size: 22px;
}

section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-1 {
  padding: 30px 10px 30px;
}

section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-1 p.descr {
  padding-top: 40px;
}

section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-2 {
  padding: 30px 10px 30px;
  margin: 0 16px 0;
}

section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-2 p.descr {
  padding-top: 50px;
}

section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-3 {
  padding: 30px 10px 30px;
}

section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-3 p.descr {
  padding-top: 50px;
}

section.main .wrapper .content-wrapper .content .content-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 424px;
  margin-top: 90px;
}

section.main .wrapper .content-wrapper .content .content-3 .content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

section.main .wrapper .content-wrapper .content .content-3 .content-inner .item {
  background-color: #fff;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border: none;
  width: 200px;
  padding: 22px 12px 22px;
}

section.main .wrapper .content-wrapper .content .content-3 .content-inner .item p.descr {
  padding-top: 10px;
  font-size: 22px;
}

section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-1, section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-3, section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-5 {
  margin-right: 24px;
}

section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-3, section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-4 {
  margin-top: 24px;
  margin-bottom: 24px;
}

footer.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-weight: 700;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 25px;
}

footer.footer p {
  font-size: 34px;
  font-weight: 700;
}

footer.footer a {
  font-size: 25px;
  background: #ff0000;
  text-transform: uppercase;
  padding: 22px 36px;
  color: #fff;
  margin-left: 20px;
  font-weight: 700;
}

/*Media queries*/
@media screen and (max-width: 1650px) {
  section.main .wrapper .news {
    padding: 40px 30px;
    -webkit-box-shadow: -25px -22px 0px 0px #ff0000;
    box-shadow: -25px -22px 0px 0px #ff0000;
    width: 550px;
    height: auto;
    position: absolute;
    top: 70px;
    left: 50px;
    z-index: 999;
    background-color: #fff;
  }
  section.main .wrapper .news .date {
    padding-right: 5px;
  }
  section.main .wrapper .news .date p {
    font-size: 20px;
    color: #ff0000;
    text-align: left;
  }
  section.main .wrapper .news .heading {
    font-size: 26px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 24px;
  }
  section.main .wrapper .news .descr {
    font-size: 20px;
    font-weight: 700;
  }
  section.main .wrapper .content-wrapper {
    padding: 0;
  }
  section.main .wrapper .content-wrapper .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  section.main .wrapper .content-wrapper .content p.heading {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 0;
    position: relative;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item {
    background-color: #fff;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border: none;
    max-width: 120px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item p.descr {
    padding-top: 10px;
    font-size: 18px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-1 {
    padding: 20px 10px 20px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-1 img {
    width: 55px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-2 {
    padding: 30px 10px 30px;
    margin: 0 16px 0;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-2 img {
    width: 75px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-3 {
    padding: 40px 10px 40px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-3 img {
    width: 67px;
  }
  section.main .wrapper .content-wrapper .content .content-2 {
    margin: 0;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item {
    background-color: #fff;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border: none;
    max-width: 120px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item p.descr {
    font-size: 18px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-1 {
    padding: 30px 10px 30px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-1 img {
    width: 75px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-1 p.descr {
    padding-top: 20px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-2 {
    padding: 30px 10px 30px;
    margin: 0 16px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-2 img {
    width: 75px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-2 p.descr {
    padding-top: 30px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-3 {
    padding: 30px 10px 30px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-3 img {
    width: 75px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-3 p.descr {
    padding-top: 30px;
  }
  section.main .wrapper .content-wrapper .content .content-3 {
    max-width: 296px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item {
    background-color: #fff;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border: none;
    max-width: 140px;
    padding: 22px 12px 22px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item p.descr {
    padding-top: 10px;
    font-size: 18px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-1, section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-3, section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-5 {
    margin-right: 16px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-3, section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-4 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-1 img {
    width: 75px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-2 img {
    width: 75px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-3 img {
    width: 75px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-4 img {
    width: 75px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-5 img {
    width: 67px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-6 img {
    width: 87px;
  }
  footer.footer {
    padding: 20px;
  }
  footer.footer p {
    font-size: 25px;
  }
}

@media screen and (max-width: 1250px) {
  section.main .wrapper .news {
    border-top: 40px solid #ff0000;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    display: block;
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    height: auto;
  }
  section.main .wrapper .news .date {
    padding-right: 5px;
  }
  section.main .wrapper .news .date p {
    font-size: 14px;
    text-align: right;
  }
  section.main .wrapper .news .heading {
    font-size: 20px;
  }
  section.main .wrapper .news .descr {
    font-size: 14px;
  }
  section.main .wrapper .content-wrapper {
    position: relative;
    background: url("../img/bg.png") no-repeat;
    background-position: 40% 100%;
    background-size: cover;
    padding: 20px 0 20px;
  }
  section.main .wrapper .content-wrapper p.heading {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 55px;
    position: relative;
  }
  section.main .wrapper .content-wrapper .content .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner {
    margin-bottom: 20px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item p.descr {
    padding-top: 10px;
    font-size: 18px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-1 img {
    width: 63px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-2 img {
    width: 85px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-3 img {
    width: 75px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item p.descr {
    padding-top: 10px;
    font-size: 18px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-1 {
    padding: 30px 10px 30px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-1 p.descr {
    padding-top: 20px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-1 img {
    width: 85px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-2 {
    padding: 30px 10px 30px;
    margin: 0 16px 0;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-2 p.descr {
    padding-top: 30px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-2 img {
    width: 72px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-3 {
    padding: 30px 10px 30px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-3 p.descr {
    padding-top: 30px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-3 img {
    width: 72px;
  }
  section.main .wrapper .content-wrapper .content .content-3 {
    margin: 0;
    max-width: none;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item {
    margin: 0;
    background-color: #fff;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border: none;
    max-width: 160px;
    padding: 12px;
    margin-bottom: 25px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item img {
    width: 70px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item p.descr {
    padding-top: 10px;
    font-size: 18px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-2, section.main .wrapper .content-wrapper .content .content-3 .content-inner .item-5 {
    margin-left: 16px;
    margin-right: 16px;
  }
  footer.footer {
    padding: 40px 25px 40px 50px;
  }
  footer.footer p {
    font-size: 24px;
  }
  footer.footer a {
    font-size: 20px;
  }
}

@media screen and (max-width: 650px) {
  section.main .wrapper .news {
    border-top: 40px solid #ff0000;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  section.main .wrapper .news .date {
    padding-right: 5px;
  }
  section.main .wrapper .news .date p {
    font-size: 16px;
  }
  section.main .wrapper .news .heading {
    font-size: 24px;
  }
  section.main .wrapper .news .descr {
    font-size: 16px;
  }
  section.main .wrapper .content-wrapper {
    background: url("../img/bg.png") no-repeat;
    background-position: 40% 100%;
    background-size: cover;
    padding: 20px 0 20px;
  }
  section.main .wrapper .content-wrapper p.heading {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 55px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item {
    background-color: #fff;
    margin: 0;
    width: 100px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item p.descr {
    font-size: 16px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-1 {
    padding: 20px 10px 20px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-1 img {
    width: 47px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-2 {
    padding: 30px 10px 30px;
    margin: 0 16px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-3 {
    padding: 40px 10px 40px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item {
    background-color: #fff;
    font-size: 18px;
    border: none;
    margin: 0;
    width: 100px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item p.descr {
    font-size: 16px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-1 {
    padding: 30px 10px 30px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-1 p.descr {
    padding-top: 20px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-2 {
    padding: 30px 10px 30px;
    margin: 0 16px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-2 p.descr {
    padding-top: 30px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-3 {
    padding: 30px 10px 30px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-3 p.descr {
    padding-top: 30px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner {
    width: 332px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item {
    width: 100px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item p.descr {
    padding-top: 10px;
    font-size: 16px;
  }
  footer.footer {
    padding: 10px;
  }
  footer.footer p {
    font-size: 14px;
  }
  footer.footer a {
    font-size: 14px;
    margin-left: 0;
    padding: 15px 20px;
  }
}

@media screen and (max-width: 500px) {
  section.main .wrapper .news {
    border-top: 40px solid #ff0000;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  section.main .wrapper .news .date {
    padding-right: 5px;
  }
  section.main .wrapper .news .date p {
    color: #ff0000;
    font-size: 14px;
    text-align: right;
  }
  section.main .wrapper .news .heading {
    font-size: 20px;
    font-weight: 700;
  }
  section.main .wrapper .news .descr {
    font-size: 14px;
  }
  section.main .wrapper .content-wrapper p.heading {
    font-size: 20px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item {
    max-width: 100px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item p.descr {
    font-size: 14px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-1 img {
    max-width: 40px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-2 img {
    max-width: 60px;
  }
  section.main .wrapper .content-wrapper .content .content-1 .content-inner .item-3 img {
    max-width: 60px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item {
    max-width: 100px;
    padding: 20px 10px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item p.descr {
    font-size: 14px;
    padding-top: 10px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-1 img {
    max-width: 40px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-2 img {
    max-width: 60px;
  }
  section.main .wrapper .content-wrapper .content .content-2 .content-inner .item-3 img {
    max-width: 60px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner {
    width: 100%;
    max-width: 332px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-bottom: 0;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item {
    max-width: 130px;
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item p.descr {
    font-size: 13px;
  }
  section.main .wrapper .content-wrapper .content .content-3 .content-inner .item img {
    max-width: 60px;
  }
}
