* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

form {
  width: 930px;
}

form .heading {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 35px;
  border-bottom: 2px solid #f24843;
  color: #4a4a57;
  -webkit-box-shadow: 0px 12px 10px -11px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 12px 10px -11px rgba(0, 0, 0, 0.2);
}

form .form-body {
  padding: 45px 35px;
}

form .form-body h2 {
  font-size: 24px;
  color: #4a4a57;
  padding-bottom: 34px;
}

form .form-body .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

form .form-body .input-group .input-section {
  padding-right: 90px;
  padding-bottom: 27px;
}

form .form-body .input-group .input-section .input-name {
  color: #727275;
  font-size: 20px;
  padding-bottom: 9px;
}

form .form-body .input-group .input-section input {
  border: 1px solid #a89fab;
  padding: 11px 16px;
  border-radius: 5px;
  width: 298px;
  font-size: 18px;
  color: #3f3f40;
}

form .form-body .second-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .form-body .second-group .input-name {
  color: #727275;
  font-size: 20px;
  padding-bottom: 9px;
}

form .form-body .second-group .birthday {
  margin-right: 65px;
}

form .form-body .second-group .birthday .select-group select {
  border: 1px solid #a89fab;
  border-radius: 5px;
  padding: 10px 40px 10px 10px;
  font-size: 18px;
  color: #3f3f40;
}

form .form-body .second-group .birthday .select-group #month {
  margin: 0 20px;
}

form .form-body .second-group .sex .radio-group label {
  position: relative;
  padding-left: 28px;
  font-size: 22px;
}

form .form-body .second-group .sex .radio-group label::before {
  content: '';
  position: absolute;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #2f2f2f;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

form .form-body .second-group .sex .radio-group label:nth-child(4) {
  margin-left: 17px;
}

form .form-body .second-group .sex .radio-group input {
  position: absolute;
  height: 1px;
  width: 1px;
  left: -99999px;
}

form .form-body .second-group .sex .radio-group input:checked + label::before {
  border: 1px solid #f24843;
  background: #f24843;
}

form .form-body .agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

form .form-body .agree .checkbox-wrapper {
  width: 280px;
  padding-bottom: 16px;
}

form .form-body .agree .checkbox-wrapper input {
  position: absolute;
  height: 1px;
  width: 1px;
  left: -999px;
}

form .form-body .agree .checkbox-wrapper label {
  display: block;
  font-size: 16px;
  color: #727275;
  position: relative;
  padding-left: 30px;
}

form .form-body .agree .checkbox-wrapper label::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #555;
  left: 0;
  top: 0;
}

form .form-body .agree .checkbox-wrapper input:checked + label::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url("../img/agree.png");
  background-size: 14px 12px;
  background-repeat: no-repeat;
  background-position: 3px 4px;
  left: 0;
}

form .form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 35px 70px;
}

form .form-footer a.cancel {
  font-size: 20px;
  text-transform: uppercase;
  color: #4a4a57;
  text-decoration: none;
  width: 240px;
  padding: 17px 0;
  text-align: center;
  border: 2px solid #f24843;
  font-weight: 700;
}

form .form-footer .send {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background: #ff0000;
  border: none;
  width: 240px;
  margin-left: 28px;
  font-weight: 700;
}
