.news-dots .slick-track, .content-dots .slick-track {
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

.news-dots li.slick-slide, .content-dots li.slick-slide {
  width: 11px !important;
  height: 11px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 20px 8px 0 8px;
}

.news-dots li.slick-current, .content-dots li.slick-current {
  background-color: #ff0000;
  border: none;
}

.content-dots {
  position: relative;
}

.content-dots .slick-dots {
  margin-bottom: 25px;
}

.content-dots .slick-dots li {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  background: none;
  border-radius: 50%;
}

.content-dots .slick-dots li:nth-child(2) {
  margin: 0 15px;
}

.content-dots .slick-dots li.slick-active {
  background: #ff0000;
  border: 2px solid #ff0000;
}

.content-dots .slick-dots li button {
  display: none;
}

.contentPrev, .contentNext {
  background: url("../img/arrow.png") no-repeat center center;
  width: 24px;
  height: 30px;
  position: absolute;
  top: 26px;
  z-index: 999;
}

.contentPrev {
  left: 50px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.contentNext {
  right: 50px;
}

@media screen and (min-width: 1251px) {
  .content-dots {
    display: none;
  }
  .content-for {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .content p.heading {
    display: none !important;
  }
}

@media screen and (min-width: 1651px) {
  .news-dots .slick-track {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .contentNext {
    right: 0;
  }
  .contentPrev {
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .contentNext, .contentPrev {
    top: 20px;
  }
}
