*{
	margin: 0;
	padding: 0;
	font-family: 'PF Din Text Cond Pro';
	font-weight: normal;
	box-sizing: border-box;
}
.video{
	img{width: 100%;}

	.relation{
		overflow: hidden;
		position: relative;
		max-width: auto;
		.inner-relation{
			overflow: hidden;
			position: relative;
			height: 0;
			padding-bottom: 56.25%;
		}
	}
} 

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  
  .slick-prev,
  .slick-next {
    width: 36px;
    height: 42px;
    z-index:5;
    border: none;
  }
  .slick-prev, .slick-prev:hover, .slick-prev:focus{
  	left: -1px; 
    background: #fff;
  	background-image: url(img/prev.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .slick-next, .slick-next:hover, .slick-next:focus{
  	right: 0;
    background: #fff;
  	background-image: url(img/next.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
a{
	color: #000;
}
h1{
	font-size: 30px;
	text-transform: uppercase;
}
h2{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}
section{padding: 20px 10px;}
header{
	.top{
		background-color: #ff9c00;
		font-size: 20px;
		padding: 10px;
		display: flex;
		color: #fff;
		justify-content: space-between;

		.gam{
			position: relative;
			width: 22px;
			padding: 2px 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			
			span{
				height: 2px;
				width: 100%;
				background-color: #fff;
			}
		}
		
		.title{
			text-transform: uppercase;
		}
		.video{
			.relation{
				position: relative;
				.ratio{
					padding-top: 36,6%;
					height: 0;
				}
				iframe{
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

section.about{
	padding: 20px 15px;
	.stars{
		display: flex;

		.star{
			padding-right: 7px;
		}
	}
	.descr{
		font-size: 15px;
		.address{
			margin-bottom: 3px;
		}
		p{
			margin-bottom: 16px;

			span{
				text-decoration: underline;
			}
		}
		h3{
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 15px;
		}
		.rating {
			display: flex;
			align-items: center;

			span{
				text-decoration: none;
			}
		}
		.rating-inner{
			color: #9ccc00;
			font-size: 44px;
			font-weight: bold;
			padding-right: 23px;
		}
		.link a{
			color: #000;
			font-weight: bold;
			margin-right: 8px;
		}

	}
}

section.tours{
	background-color: #fcbd5c;
	h2{
		margin-bottom: 15px;
	}

	.tb-line{
		font-size: 15px;
		display: flex;
		background-color: #fdf9ee;
		padding: 10px 8px;
		margin-bottom: 5px;
		span:first-child{
			width: 45%;
			text-transform: uppercase;
		}
		span:last-child{
			width: 55%;
			text-decoration: underline;
		}
	}
	a{
		color: #fff;
		text-decoration: none;
		font-size: 15px;
		background-color: #6481c5;
		display: block;
		text-align: center;
		padding: 10px 0;
		border-radius: 3px;
		margin-top: 10px;
	}
}
section.tickets{
	padding: 0;
	.ticket{
		& > div{
			padding: 10px;
		}

		.roundtrip{
			background-color: #fff;
			padding: 29px 10px;

			p{
				display: flex;
				align-items: center;
				font-size: 18px;

				span:first-child{
					width: 30%;
					font-size: 15px;
					text-transform: uppercase;
					color: #454545;
				}
			}
			p:first-child{
				margin-bottom: 12px;
			}
		}
		.inf-ticket{
			font-size: 18px;
			padding: 23px 10px;
			border: 1px solid #ccc;
			border-left: 0;
			border-right: 0;
			
			p{
				margin-bottom: 13px;
			}

			p:first-child{
				text-transform: uppercase;
			}
			p:last-child{
				margin-bottom: 0;
			}
		}
		.total{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px 10px;

			.price{
				display: flex;
				justify-content: space-between;
				min-width: 120px;
				border-radius: 3px;
				font-size: 11px;
				color: #fff;
				background-color: #ff9c00;
				padding: 10px;
				margin-bottom: 10px;

				span:first-child{
					font-size: 24px;
				}
				span:last-child{
					text-decoration: underline;
				}
			}
			p{font-size: 12px;}
		}
	}
	.ticket-2{
		border: 10px solid #fcbd5c;
		border-left: none;
		border-right: none;
	}
	.more{
		background-color: #fcbd5c;
		padding: 8px 10px 12px;

		a{
			text-decoration: underline;
			font-size: 12px;
		}
	}
}
section.hotel{
	h2{
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 10px;
	}
	p{
		font-size: 16px;
	}
	input{
		color: #000;
		text-align: center;
		font-size: 16px;
		width: 100%;
		padding: 6px 0;
		margin-bottom: 10px;
		border: 1px solid #cccccc;
	}
	button{
		border: none;
		background-color: #6481c5;
		color: #fff;
		width: 100%;
		padding: 10px 0;
	}
}
.separator{
	height: 40px;
	background-color: #f1f1f1;
}
section.about-hotel{
	h2{
		margin-bottom: 16px;
	}
	h3{
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 16px;
	}
	p{
		margin-bottom: 16px;

		span{
			font-weight: bold;
		}
	}
	p:last-child{
		margin-bottom: 0;
	}
}
section.reviews{
	background-color: #f1f1f1;
	padding: 0 0 30px 0;

	
	h2{
		font-size: 24px;
		margin-bottom: 14px;
		padding: 20px 10px 0;
	}
	& > a{
		display: inline-block;
		background-color: #ff9c00;
		text-decoration: none;
		color: #fff;
		padding: 12px 23px;
		margin-bottom: 10px;
		margin-left: 10px;
	}
	.review{
		border: 2px solid #ff9c00;
		background-color: #fff;
		font-size: 18px;

		.review-head{
			display: flex;
			background-color: #fef7e5;

			div{
				padding: 10px;
			}
			.olt{
				background-color: #fff;
			}
		}
		.review-el{
			padding: 16px 10px;

			p span{
				color: #ff9d00;
				font-weight: bold;
			}
			.rating{
				display: flex;
				flex-wrap: wrap;
				font-size: 14px;
				padding: 10px 0;

				div{
					width: 50%;

					span{
						font-weight: bold;
					}
				}
			}
			.text{
				font-size: 15px;
				margin-bottom: 5px;
				span{
					color: #000;
				}
			}
			a{
				font-size: 15px;
			}
		}
	}
}
section.type-room{
	padding: 20px 0 0;
	h2{
		padding: 0 10px 20px;
	}
	.room{
		background-color: #ffecce;
		padding: 15px 10px;
		
		.video{
			margin-bottom: 15px;
		}
		p.room-name{
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.descr{
			font-size: 15px;
			
			p{
				margin-bottom: 8px;
			}
			span{
				font-weight: bold;
			}
			ul{
				font-weight: bold;
				list-style: disc inside;

				li{
					margin-left: 5px;
				}
			}
		}
	}
	p.room-about{
		font-weight: bold;
		font-size: 15px;
		padding: 16px 10px;
	}
}
section.maps{

	.map{
		height: 384px;
		background-color: #e4e4e4;
		position: relative;

		.mark{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			span{
				position: relative;
				width: 200px;
				padding: 11px 0;
				background-color: #f6a118;
				margin-bottom: 20px;
				border: 1px solid #fff;
				border-radius: 21px;
				color: #fff;

				&:after{
					content: '';
					border-top: 10px solid #f6a118;
					border-right: 10px solid transparent;
					border-bottom: 10px solid transparent;
					border-left: 10px solid transparent;
					position: absolute;
					top: 100%;
					right: 50%;
					transform: translate(50%, -1px);
				}
				&:before{
					content: '';
					border-top: 11px solid #fff;
					border-right: 11px solid transparent;
					border-bottom: 11px solid transparent;
					border-left: 11px solid transparent;
					position: absolute;
					top: 100%;
					right: 50%;
					transform: translateX(50%);
				}
			}
		}
	}
}
section.blue{
	background-color: #d8f4ff;
	
	p{
		font-size: 15px;
		margin-bottom: 5px;
		span{
			font-weight: bold;
		}
	}

	h2:first-child{
		padding-top: 0;
	}

	h2{
		padding: 20px 0;
	}
	.archive{
		text-decoration: underline;
		font-weight: bold;
		margin: 20px 0 0;
	}
	p.review{
		margin-top: 20px;
	}
}
section.similar{
	h2{
		padding-bottom: 20px;
	}
	p.title{
		margin: 20px 0;
		font-size: 24px;
		text-transform: uppercase;
	}
	a{
		background-color: #ff9c00;
		display: inline-block;
		padding: 10px 23px;
		color: #fff;
		text-decoration: none;
	}
	.slick-prev, .slick-prev:hover, .slick-prev:focus{
	  	left: -1px; 
	  	top: 50%;
	  	transform: translateY(-150%);
	    background: #fff;
	  	background-image: url(img/prev.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	.slick-next, .slick-next:hover, .slick-next:focus{
	  	right: 0;
	  	top: 50%;
	  	transform: translateY(-150%);
	    background: #fff;
	  	background-image: url(img/next.png);
	    background-repeat: no-repeat;
	    background-position: center center;
	}
}
footer{
	.buttons{
		display: flex;
		flex-direction: column;
		align-items: end;
		padding: 45px 10px 0;
		a{
			padding: 7px 20px;
			border: 1px solid #ff9c00;
			color: #ff9c00;
			text-decoration: none;
			margin-bottom: 10px;
			border-radius: 3px;
		}
	}
	.partners{
		padding: 20px 10px;
		.line{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}
		.line:last-child{
			justify-content: end;
			margin-top: 10px;

			& > div:last-child{
				margin-left: 17px;
			}
		}
	}
	.about-us{
		display: flex;
		flex-wrap: wrap;
		background-color: #3e3e3e;
		padding: 17px 12px;

		.child{
			width: 50%;

			a{
				text-decoration: none;
				color: #8b8b8b;
			}
		}
		.child:last-child{
			width: 100%;
			margin-top: 25px;
		}
	}
}