@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

$orange: #f99f38;
$grey-light: #d3d4d4;
$grey-dark: #252627;
$grey-rgba: rgba(37, 38, 39, 0.15);
$red: #f60538;
$orange-rgba: rgba(249, 159, 56, 0.9);

*, a, a:focus, a:hover{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    box-sizing: border-box;
    text-decoration: none;
}
ul, li{
    list-style: none;
}
.btn-orange{
    border: none;
    background-color: $orange;
    border-radius: 6px;
    display: inline-block;
    padding: 3px 8px;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
}
a.item-control{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid $grey-light;
    border-radius: 50%;
    background-image: url(../img/icon/plus-light.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover{
        border: 2px solid $grey-dark;
        background-image: url(../img/icon/plus-dark.png);
    }

    &.added{
        border: 2px solid $orange;
        background-image: url(../img/icon/check.png);
        background-size: 12px 9px;

        &:hover{
            border: 2px solid $red;
            background-image: url(../img/icon/minus.png);
            background-size: 10px 2px;
        }
    }
}
h2.decoration{
    display: inline-block;
    padding: 7px;
    font-size: 15px;
    font-weight: 700;
    border: 8px solid $orange;
    position: relative;
    margin-bottom: 35px;

    &:after{
        content: '';
        position: absolute;
        width: 22px;
        height: 18px;
        background-image: url(../img/icon/decor.png);
        left: 0px;
        transform: translateX(-100%);
    }
    &:before{
        content: '';
        position: absolute;
        width: 22px;
        height: 18px;
        background-image: url(../img/icon/decor.png);
        right: 0px;
        transform: translateX(100%) rotate(180deg);
    }
}
header{
    padding: 20px 0;
    border-bottom: 2px solid $orange;
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }
    .heading{
        h1{
            font-size: 23px;
            font-weight: 800;
            text-align: justify;
            text-transform: uppercase;
        }
        p{
            font-size: 13px;
            font-weight: 700;
            text-align: justify;
        }
        .wavy-line{
            background-image: url(../img/icon/wavy-line.png);
            background-repeat: no-repeat;
            height: 5px;
            background-size: 100%;
            margin: 2px 0 3px;
        }
    }
    .eco-food{
        width: 33px;
        height: 51px;
        background-image: url(../img/icon/eco-food.png);
    }
    .inst{
        font-size: 10px;
        font-weight: 700;

        p{
            margin-bottom: 5px;
            span{
                border-bottom: 1px dashed $orange;
                padding-bottom: 2px;
            }
        }
        a{
            display: inline-block;
            margin-top: 5px;
            padding-left: 18px;
            position: relative;

            &:after{
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: $orange;
                background-image: url(../img/icon/inst.png);
                background-repeat: no-repeat;
                background-position: center;
                left: 0;
            }
        }
    }
    .qr-code{
        width: 58px;
        height: 58px;
        background-image: url(../img/icon/qr-code.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    .payment-method{
        width: 69px;
        height: 56px;
        background-image: url(../img/icon/payment-method.png);
    }
    .callback{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        padding-right: 60px;
        height: 52px;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            background-image: url(../img/icon/call-center.png);
            background-repeat: no-repeat;
            width: 40px;
            height: 41px;
            right: 0px;
        }
        a{
            font-size: 17px;
            font-weight: 700;
        }
    }
    .cart{
        height: 52px;
        border-left: 1px dashed $orange;
        padding-left: 22px;
        padding-right: 59px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;

        &:after{
            content: '';
            position: absolute;
            width: 39px;
            height: 32px;
            background-image: url(../img/icon/cart.png);
            background-size: cover;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        p.descr{
            font-size: 12px;
            font-weight: 700;

            .total-price:after{
                content: ' р.';
            }
        }
        p.heading{
            position: relative;
            padding-right: 25px;
            font-size: 17px;
            font-weight: 700;

            span{
                display: inline-block;
                text-align: center;
                line-height: 15px;
                color: #fff;
                position: absolute;
                width: 17px;
                height: 17px;
                background-color: $orange;
                border-radius: 50%;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 12px;
            }
        }
    }
}

section.main{
    display: flex;
    section.sidebar{
        position: relative;
        flex: 0 40%;
        max-width: 800px;

        &:after{
            content: '';
            position: absolute;
            width: 58px;
            height: 152px;
            background-image: url(../img/icon/leaves-left.png);
            background-repeat: no-repeat;
            left: 0;
            top: 0;
            z-index: 999;
        }
        &:before{
            content: '';
            position: absolute;
            width: 42px;
            height: 120px;
            background-image: url(../img/icon/leaves-right.png);
            background-repeat: no-repeat;
            right: 0;
            top: 0;
            z-index: 999;
        }
        
        .wrapper{
            height: calc(100vh - 100px);
            overflow-y: auto;
            background-image: url(../img/icon/leaves-right.png);
            background-repeat: no-repeat;
            background-position: right 0;
            padding: 0 50px;
        }
        .menu{
            .menu-section{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 35px;

                ul{
                    width: 100%;
                    li{
                        display: flex;
                        margin-top: 15px;
                        align-items: center;
                        &:first-child{margin-top: 0;}
                        .menu-item{
                            flex: 1 auto;
                            overflow: hidden;
                            position: relative;
                            display: flex;
                            justify-content: space-between;
                            font-size: 15px;
                            font-weight: 600;
                            border-right: 30px solid #fff;
                            .price, .title{
                                background-color: #fff;
                                z-index: 10;
                            }
                            .title{
                                padding-right: 7px;
                            }
                            .price{
                                padding-left: 6px;
                            }
                            .price:after{
                                content: '₽';
                            }

                            &:before{
                                content: '';
                                position: absolute;
                                width: 100%;
                                bottom: 5px;
                                left: 0;
                                border-bottom: 2px dotted $orange;
                                height: 1px;
                                z-index: 1;
                            }
                        }
                        a.item-control{
                            flex: 0 20px;
                        }
                    }
                }
            }
        }
    }

    section.food{
        height: calc(100vh - 100px);
        overflow-y: auto;
        flex: 1 auto;
        .wrapper{
            display: flex;
            flex-wrap: wrap;
            .item{
                $size: (100%/4);
                width: $size;
                background-size: 100%;
                position: relative;
                height: 0;
                padding-bottom: $size;
                cursor: pointer;
                &:hover{
                    box-shadow: 0px 0px 25px #f99f38;
                    .content{
                        display: flex;
                    }
                }

                .content{
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $orange-rgba;
                    p{
                        font-size: 16px;
                        color: #fff;
                        padding: 14px 14px 0;
                        flex: 1 auto;
                    }
                    .content-footer{
                        background-color: $grey-rgba;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 11px 12px;
                        flex: 0 auto;
                        span{
                            font-size: 12px;
                            color: #fff;
                            &:after{
                                content: 'р./порция';
                            }
                        }
                        a.item-control{
                            width: 25px;
                            height: 25px;
                            border: 2px solid #fff;
                            background-image: url(../img/icon/plus-white.png);
                            background-size: 16px 16px;
                            &.added{
                                background-image: url(../img/icon/check-white.png);
                                background-size: 16px 12px;

                                &:hover{
                                    background-image: url(../img/icon/minus-white.png);
                                    background-size: 16px 3px;
                                }
                            }
                        }
                    }
                }
                &.item-1{background-image: url(../img/dish-1.png);}
                &.item-2{background-image: url(../img/dish-2.png);}
                &.item-3{background-image: url(../img/dish-3.png);}
                &.item-4{background-image: url(../img/dish-4.png);}
                &.item-5{background-image: url(../img/dish-5.png);}
                &.item-6{background-image: url(../img/dish-6.png);}
                &.item-7{background-image: url(../img/dish-7.png);}
                &.item-8{background-image: url(../img/dish-8.png);}
                &.item-9{background-image: url(../img/dish-9.png);}
                &.item-10{background-image: url(../img/dish-10.png);}
                &.item-11{background-image: url(../img/dish-11.png);}
                &.item-12{background-image: url(../img/dish-12.png);}
                &.item-13{background-image: url(../img/dish-13.png);}
                &.item-14{background-image: url(../img/dish-14.png);}
                &.item-15{background-image: url(../img/dish-15.png);}
                &.item-16{background-image: url(../img/dish-16.png);}
                &.item-17{background-image: url(../img/dish-17.png);}
                &.item-18{background-image: url(../img/dish-18.png);}
                &.item-19{background-image: url(../img/dish-19.png);}
                &.item-20{background-image: url(../img/dish-20.png);}
            }
        }
    }
}

//Media queries
@media screen and (max-width: 1300px){
    .btn-orange{
        font-size: 9px;
    }
    h2.decoration{
        font-size: 12px;
        border: 6px solid $orange;
        margin-bottom: 28px;
    }
    header{
        padding: 10px 20px;
        .heading{
            h1{
                font-size: 18px;
            }
            p{
                font-size: 10px;
            }
            .wavy-line{
                margin: 0;
            }
        }
        .eco-food{
            width: 26.4px;
            height: 40.8px;
            background-size: 100%;
        }
        .inst{
            font-size: 8px;
    
            p{
                margin-bottom: 3px;
                span{
                    border-bottom: 1px dashed $orange;
                    padding-bottom: 2px;
                }
            }
        }
        .qr-code{
            width: 46.4px;
            height: 46.4px;
            background-image: url(../img/icon/qr-code.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
        }
        .payment-method{
            width: 55.2px;
            height: 44.8px;
            background-size: 100% 100%;
        }
        .callback{
            padding-right: 48px;
            height: 41.6px;
    
            &:after{
                width: 32px;
                height: 32.8px;
                background-size: contain;
            }
            a{
                font-size: 13.6px;
            }
        }
        .cart{
            height: 41.6px;
            padding-left: 17.6px;
            padding-right: 47.2px;
    
            &:after{
                width: 31.2px;
                height: 25.6px;
            }
    
            p.descr{
                font-size: 10px;
            }
            p.heading{
                padding-right: 20px;
                font-size: 13px;
    
                &:after{
                    width: 13.6px;
                    height: 13.6px;
                    font-size: 10px;
                }
            }
        }
    }
    section.main{
        section.sidebar{
            .wrapper{
                height: calc(100vh - 68.39px);
                padding: 0 30px;
            }
            .menu{
                .menu-section{
                    margin-top: 28px;
    
                    ul{
                        li{
                            margin-top: 12px;
                            .menu-item{
                                font-size: 12px;
                                border-right: 24px solid #fff;
                                .title{
                                    padding-right: 5.6px;
                                }
                                .price{
                                    padding-left: 4.8px;
                                }
    
                                &:before{
                                    bottom: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        section.food{
            height: calc(100vh - 68.39px);
            .wrapper{
                .item{
                    .content{
                        p{
                            font-size: 12.8px;
                            padding: 11.2px 11.2px 0;
                        }
                        .content-footer{
                            padding: 8.8px 9.6px;
                            span{
                                font-size: 9.6px;
                            }
                            a.item-control{
                                width: 20px;
                                height: 20px;
                                background-size: 12px 12px;
                                &.added{
                                    background-image: url(../img/icon/check-white.png);
                                    background-size: 12px 9.6px;
    
                                    &:hover{
                                        background-image: url(../img/icon/minus-white.png);
                                        background-size: 12px 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px){
    .btn-orange{
        font-size: 9px;
    }
    h2.decoration{
        font-size: 12px;
        border: 6px solid $orange;
        margin-bottom: 28px;
    }
    header{
        .eco-food{
            display: none;
        }
    }
    section.main{
        section.sidebar{
            .wrapper{
                height: calc(100vh - 68.39px);
                padding: 0 20px;
            }
            .menu{
                .menu-section{
                    margin-top: 28px;
                    ul{
                        li{
                            margin-top: 12px;
                            .menu-item{
                                font-size: 10px;
                                border-right: 12px solid #fff;
                                .title{
                                    padding-right: 5.6px;
                                }
                                .price{
                                    padding-left: 4.8px;
                                }
    
                                &:before{
                                    bottom: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        section.food{
            height: calc(100vh - 68.39px);
            .wrapper{
                .item{
                    .content{
                        p{
                            font-size: 9px;
                        }
                        .content-footer{
                            padding: 7px;
                            span{
                                font-size: 8px;
                            }
                            a.item-control{
                                width: 16px;
                                height: 16px;
                                background-size: 8px 8px;
                                &.added{
                                    background-size: 8px 6.4px;
    
                                    &:hover{
                                        background-size: 8px 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    header{
        .wrapper{
            .qr-code{
                display: none;
            }
            .payment-method{
                display: none;
            }
            .inst{
                display: none;
            }
        }
    }
    section.main{
        flex-direction: column;
        section.sidebar{
            height: auto;
            .wrapper{
                height: auto;
                overflow: visible;
                padding: 0 80px 28px;
            }
        }
        section.food{
            height: auto;
            overflow: visible;
        }
    }
}
@media screen and (max-width: 576px){
    header.fixed{
        background-color: #fff;
        z-index: 10000;
        position: fixed;
        width: 100%;
        top: 0;
    }
    header{
        padding: 5px 2px;
        .wrapper{
            .heading{
                h1{
                    font-size: 12px;
                }
                p{
                    font-size: 8px;
                }
           }
           .callback{
               padding: 0;
               a{
                   font-size: 11px;
               }
               &:after{
                   display: none;
               }
           }
           .cart{
               padding-right: 0;
               
               p.heading{
                   font-size: 10px;
               }
               &:after{
                   display: none;
               }
               .total-price{
                   font-size: 9px;
               }
           }
        }
    }
    section.main{
        flex-direction: column;
        section.sidebar{
            height: auto;
            .wrapper{
                height: auto;
                overflow: visible;
                padding: 0 20px 28px;
            }
        }
        section.food{
            height: auto;
            overflow: visible;
            .wrapper{
                .item{
                    width: 50%;
                    padding-bottom: 50%;
                }
            }
        }
    }
}