.header{
  background: #fff;
}
.header .logo{
  padding-bottom: 10px;
}
.bg_prod{
  padding-top: 25%;
  background: url(../img/bg_prod.png) center top no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
h1{
  margin-bottom: 15px!important;
}
.scada{
  font-size: 55px;
  color: #c4303a;
  margin: 0;
}
.descr{
  font-size: 32px;
  padding: 10px 0 20px;
}
.text{
  padding: 0!important;
}
.content .tablet{
  padding-top: 75px;
}
.gaga{
  font-size: 20px;
  line-height: normal;
  padding-top: 50px;
}
@media (max-width: 767px){
  .scada{
    font-size: 40px;
  }
  .descr{
    font-size: 30px;
  }
  .text, .gaga{
    font-size: 18px;
  }
  .content .tablet{
    padding: 0;
  }
}
@media (max-width: 575px){
  .scada{
    font-size: 30px;
  }
  .descr{
    font-size: 20px;
  }
  .text, .gaga{
    font-size: 16px;
  }
  .content .tablet{
    padding: 0;
  }
}
