.news-dots, .content-dots{
	.slick-track{
		transform: none !important;
	}

	li.slick-slide{
		width: 11px!important;
		height: 11px;
		border: 2px solid #000;
		border-radius: 50%;
		margin: 20px 8px 0 8px;
	}
	li.slick-current{
		background-color: #ff0000;
		border: none;
	}
}
.content-dots{
	.slick-track{
		display: flex;
		justify-content: center;
	}
	li.slick-slide{
		border: 2px solid #fff;
		margin: 40px 8px 0 8px;
	}
	li.slick-current{
		background-color: #ff0000;
		border: none;
	}
}
.contentPrev, .contentNext{
	background: url('../img/arrow.png') no-repeat center center;
	width: 24px;
	height: 30px;
	position: absolute;
	top:26px;
	z-index: 999;
}
.contentPrev{
	left: 50px;
	transform: rotate(180deg);
}
.contentNext{
	right: 50px;
}
@media screen and (min-width: 1251px){
	.content-dots{
		display: none;
	}
}
@media screen and (min-width: 1651px){
	.news-dots{
		.slick-track{
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}
}