.modal-wrapper {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999; }
  .modal-wrapper .modal-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px; }
    .modal-wrapper .modal-img .modal-body {
      position: relative; }
      .modal-wrapper .modal-img .modal-body img {
        display: block;
        width: 100%; }
      .modal-wrapper .modal-img .modal-body .img-ctrl {
        position: absolute;
        bottom: 0;
        width: 53px;
        height: 31px;
        background-color: #3c3c3c;
        background-image: url("../img/icons/arrow-dis.png");
        background-repeat: no-repeat;
        background-position: center; }
        .modal-wrapper .modal-img .modal-body .img-ctrl.img-prev {
          left: 0; }
        .modal-wrapper .modal-img .modal-body .img-ctrl.img-next {
          right: 0;
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
    .modal-wrapper .modal-img .modal-footer {
      background-color: #3c3c3c;
      padding: 23px 53px; }
      .modal-wrapper .modal-img .modal-footer p {
        font-size: 20px;
        line-height: 26px;
        color: #fff; }
