@import url("https://fonts.googleapis.com/css2?family=Forum&family=Vollkorn+SC&display=swap");
@font-face {
  font-family: 'Hoefler Text';
  src: url("../webfonts/HoeflerText-BlackItalic.woff2") format("woff2"), url("../webfonts/HoeflerText-BlackItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Hoefler Text';
  src: url("../webfonts/HoeflerText-Regular.woff2") format("woff2"), url("../webfonts/HoeflerText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Hoefler Text';
  src: url("../webfonts/HoeflerText-Black.woff2") format("woff2"), url("../webfonts/HoeflerText-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Hoefler Text';
  src: url("../webfonts/HoeflerText-Italic.woff2") format("woff2"), url("../webfonts/HoeflerText-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hoefler Text", serif; }

a, a:hover, a:visited {
  color: #000;
  text-decoration: none; }

a.hyperlink {
  color: #5F0000;
  text-decoration: underline; }

ul, li {
  list-style: none; }

.img-fluid {
  max-width: 100%; }

.wrapper {
  margin: 0 auto;
  width: 100%; }

header.header {
  background: #3C3C3C; }
  header.header .wrapper {
    max-width: 1438px;
    padding-top: 56px;
    padding-bottom: 65px; }
    header.header .wrapper .signature {
      display: block;
      margin: 39px auto 0;
      width: 650px; }
      header.header .wrapper .signature p {
        font-family: "Forum", cursive;
        font-size: 39px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 63px;
        color: #FFF;
        letter-spacing: 1px; }
  header.header nav.nav-header {
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); }
    header.header nav.nav-header > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      header.header nav.nav-header > ul > li {
        margin-left: 32px;
        cursor: pointer;
        border-bottom: 5px solid transparent;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        position: relative;
        padding-top: 26px;
        padding-bottom: 10px; }
        header.header nav.nav-header > ul > li:first-child {
          margin-left: 0; }
        header.header nav.nav-header > ul > li:hover, header.header nav.nav-header > ul > li.hovered {
          border-bottom: 5px solid #3c3c3c; }
          header.header nav.nav-header > ul > li:hover > a, header.header nav.nav-header > ul > li.hovered > a {
            color: #000; }
        header.header nav.nav-header > ul > li > a {
          color: #4B4B4B;
          font-size: 18px;
          line-height: 31px;
          font-weight: bold; }
        header.header nav.nav-header > ul > li > ul {
          display: none;
          top: 72px;
          position: absolute;
          z-index: 999;
          width: 388px;
          padding: 13px 10px 13px 42px;
          background: #000;
          background: rgba(0, 0, 0, 0.66);
          -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); }
          header.header nav.nav-header > ul > li > ul li:hover {
            color: #B7B5B5;
            list-style-type: disc; }
            header.header nav.nav-header > ul > li > ul li:hover a {
              color: #B7B5B5; }
          header.header nav.nav-header > ul > li > ul li a {
            font-size: 19px;
            line-height: 32px;
            color: #fff;
            font-weight: normal; }

section.main {
  padding: 0 40px; }
  section.main .wrapper {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 78px; }
    section.main .wrapper .sidebar {
      padding-top: 149px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
      flex: 0 0 240px; }
      section.main .wrapper .sidebar ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        section.main .wrapper .sidebar ul li {
          padding-bottom: 28px; }
          section.main .wrapper .sidebar ul li a {
            font-size: 39px;
            color: #5C5B5B;
            font-weight: bold; }
          section.main .wrapper .sidebar ul li.active a {
            font-size: 50px;
            color: #000; }
    section.main .wrapper .sidebar-has-child {
      padding-top: 149px;
      padding-right: 25px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
      flex: 0 0 240px; }
      section.main .wrapper .sidebar-has-child ul li {
        font-size: 20px;
        line-height: 24px; }
        section.main .wrapper .sidebar-has-child ul li a {
          border-bottom: 1px solid #929292;
          display: block;
          padding-bottom: 17px;
          margin-bottom: 17px; }
          section.main .wrapper .sidebar-has-child ul li a .writer {
            font-weight: bold;
            color: #5C5B5B; }
          section.main .wrapper .sidebar-has-child ul li a .descr {
            font-size: 18px; }
        section.main .wrapper .sidebar-has-child ul li > ul {
          padding-left: 20px; }
      section.main .wrapper .sidebar-has-child > ul > li:last-child a {
        border-bottom: none; }
    section.main .wrapper .content {
      padding-top: 78px;
      -webkit-box-flex: 1;
      -ms-flex: 1 auto;
      flex: 1 auto; }
      section.main .wrapper .content h2 {
        font-family: "Hoefler Text", serif;
        font-size: 38px;
        font-weight: bold;
        padding-bottom: 47px;
        color: #3c3c3c; }
      section.main .wrapper .content .nav-news {
        padding: 15px 0;
        margin-top: 21px;
        text-align: right; }
        section.main .wrapper .content .nav-news .switcher {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          section.main .wrapper .content .nav-news .switcher .pages {
            font-size: 26px;
            padding: 0 13px; }
          section.main .wrapper .content .nav-news .switcher .news-prev, section.main .wrapper .content .nav-news .switcher .news-next {
            display: inline-block;
            width: 46px;
            height: 25px;
            border: 1.25362px solid #000000;
            background-repeat: no-repeat;
            background-position: center; }
            section.main .wrapper .content .nav-news .switcher .news-prev.deactivate, section.main .wrapper .content .nav-news .switcher .news-next.deactivate {
              border: 1px solid transparent; }
            section.main .wrapper .content .nav-news .switcher .news-prev:hover:not(.deactivate), section.main .wrapper .content .nav-news .switcher .news-next:hover:not(.deactivate) {
              background-image: url("../img/icons/white-arrow.png");
              background-color: #3c3c3c;
              border: 1.25362px solid #3c3c3c; }
          section.main .wrapper .content .nav-news .switcher .news-prev {
            margin-left: auto;
            background-image: url("../img/icons/arrow.png");
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
            section.main .wrapper .content .nav-news .switcher .news-prev.deactivate {
              background-image: url("../img/icons/arrow-dis.png");
              -webkit-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
              transform: rotate(0deg); }
          section.main .wrapper .content .nav-news .switcher .news-next {
            background-image: url("../img/icons/arrow.png"); }
            section.main .wrapper .content .nav-news .switcher .news-next.deactivate {
              background-image: url("../img/icons/arrow-dis.png");
              -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              transform: rotate(180deg); }

footer.footer {
  background: #ebebeb;
  padding: 0 40px; }
  footer.footer .wrapper {
    padding-bottom: 20px;
    position: relative;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer.footer .wrapper:after {
      width: 67px;
      height: 24px;
      content: '';
      position: absolute;
      background-image: url("../img/logo.png");
      right: 0;
      bottom: 20px; }
    footer.footer .wrapper .sidebar {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 340px;
      flex: 0 0 340px;
      padding-top: 72px; }
      footer.footer .wrapper .sidebar .signature {
        padding-bottom: 34px; }
        footer.footer .wrapper .sidebar .signature p {
          font-family: "Forum", cursive;
          font-size: 15px;
          line-height: 24px;
          text-transform: uppercase; }
      footer.footer .wrapper .sidebar nav.nav-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        footer.footer .wrapper .sidebar nav.nav-footer ul {
          width: 50%; }
          footer.footer .wrapper .sidebar nav.nav-footer ul li {
            margin-bottom: 23px; }
            footer.footer .wrapper .sidebar nav.nav-footer ul li a {
              font-size: 15px;
              color: #000; }
              footer.footer .wrapper .sidebar nav.nav-footer ul li a:hover {
                border-bottom: 2px solid #3c3c3c;
                color: #3a3a3a; }
            footer.footer .wrapper .sidebar nav.nav-footer ul li.carret a {
              color: #363636; }
    footer.footer .wrapper .main-footer {
      -webkit-box-flex: 1;
      -ms-flex: 1 auto;
      flex: 1 auto;
      padding-top: 126px; }
      footer.footer .wrapper .main-footer .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 24px; }
        footer.footer .wrapper .main-footer .top .find h3 {
          font-size: 20px;
          font-weight: bold;
          text-align: center; }
        footer.footer .wrapper .main-footer .top .find .input-group {
          padding-top: 33px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          footer.footer .wrapper .main-footer .top .find .input-group input {
            font-size: 13px;
            color: #848181;
            background: transparent;
            border: none;
            padding-bottom: 7px;
            border-bottom: 1px solid #000;
            width: 265px;
            margin-right: 5px; }
          footer.footer .wrapper .main-footer .top .find .input-group a {
            font-size: 11px;
            letter-spacing: 0.09em;
            text-transform: uppercase;
            color: #696969;
            padding: 7px;
            border: 1px solid #696969; }
            footer.footer .wrapper .main-footer .top .find .input-group a:hover {
              color: #000;
              border: 1px solid #000; }
        footer.footer .wrapper .main-footer .top .find .donate {
          font-size: 23px;
          letter-spacing: 0.09em;
          color: #696969;
          padding: 7px;
          border: 1px solid #696969;
          text-transform: uppercase;
          display: block;
          text-align: center;
          margin-top: 28px; }
          footer.footer .wrapper .main-footer .top .find .donate:hover {
            color: #000;
            border: 1px solid #000; }
        footer.footer .wrapper .main-footer .top .contacts {
          text-align: right; }
          footer.footer .wrapper .main-footer .top .contacts h3 {
            font-size: 20px;
            font-weight: bold; }
          footer.footer .wrapper .main-footer .top .contacts p.email {
            font-size: 15px;
            padding-top: 37px;
            padding-bottom: 22px; }
      footer.footer .wrapper .main-footer .bottom p {
        font-size: 15px;
        line-height: 18px; }
        footer.footer .wrapper .main-footer .bottom p:first-child {
          padding-bottom: 7px; }
