$hoefler: 'Hoefler Text', serif;
$forum: 'Forum', cursive;
$vollkorn: 'Vollkorn SC', serif;
section.main{
    .wrapper{
        max-width: 1200px;
        display: flex;
        padding-bottom: 78px;

        .sidebar{
            padding-top: 190px;
            flex: 0 0 240px;
            ul{
                display: flex;
                flex-direction: column;
                li{
                    padding-bottom: 28px;
                    a{
                        font-size: 39px;
                        color: #5C5B5B;
                        font-weight: bold;
                    }
                    &.active{
                        a{
                            font-size: 50px;
                            color: #000;
                        }
                    }
                }
            }
        }
        .content{
            padding-top: 97px;
            flex: 1 auto;
            h2{
                font-size: 38px;
                font-weight: bold;
                padding-bottom: 47px;
            }
            .news-list{
                .news-item{
                    padding-top: 19px;
                    padding-bottom: 30px;
                    border-top: 1px solid #929292;
                    .date{
                        font-size: 32px;
                        line-height: 38px;
                    }
                    .descr{
                        font-size: 20px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}