@import url('https://fonts.googleapis.com/css2?family=Forum&family=Vollkorn+SC&display=swap');
@font-face {
    font-family: 'Hoefler Text';
    src: url('../webfonts/HoeflerText-BlackItalic.woff2') format('woff2'),
        url('../webfonts/HoeflerText-BlackItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hoefler Text';
    src: url('../webfonts/HoeflerText-Regular.woff2') format('woff2'),
        url('../webfonts/HoeflerText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hoefler Text';
    src: url('../webfonts/HoeflerText-Black.woff2') format('woff2'),
        url('../webfonts/HoeflerText-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hoefler Text';
    src: url('../webfonts/HoeflerText-Italic.woff2') format('woff2'),
        url('../webfonts/HoeflerText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
    $hoefler: 'Hoefler Text', serif;
    $forum: 'Forum', cursive;
    $vollkorn: 'Vollkorn SC', serif;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $hoefler;
}
a, a:hover, a:visited{
    color: #000;
    text-decoration: none;
}
a.hyperlink{
    color: #5F0000;
    text-decoration: underline;
}
ul, li{
    list-style: none;
}
.img-fluid{
    max-width: 100%;
}
.wrapper{
    margin: 0 auto;
    width: 100%;
}
header.header{
    background: #3C3C3C;
    .wrapper{
        max-width: 1438px;
        padding-top: 56px;
        padding-bottom: 65px;
        .signature{
            display: block;
            margin: 39px auto 0;
            width: 650px;

            p{
                font-family: $forum;
                font-size: 39px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 63px;
                color: #FFF;
                letter-spacing: 1px;
            }
        }
    }
    nav.nav-header{
        background: #fff;
        width: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        & > ul{
            display: flex;
            justify-content: center;
            & > li{
                margin-left: 32px;
                cursor: pointer;
                border-bottom: 5px solid transparent;
                transition: .3s;
                position: relative;
                padding-top: 26px;
                padding-bottom: 10px;

                &:first-child{
                    margin-left: 0;
                }

                &:hover, &.hovered{
                    border-bottom: 5px solid #3c3c3c;
                    & > a{
                        color: #000;
                    }
                }

                & > a{
                    color: #4B4B4B;
                    font-size: 18px;
                    line-height: 31px;
                    font-weight: bold;
                }
                & > ul{
                    display: none;
                    top: 72px;
                    position: absolute;
                    z-index: 999;
                    width: 388px;
                    padding: 13px 10px 13px 42px;
                    background: #000;
                    background: rgba(0, 0, 0, 0.66);
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                
                    li{
                        &:hover{
                            color: #B7B5B5;
                            list-style-type: disc;
                            a{
                                color: #B7B5B5;
                            }
                        }
                        a{
                            font-size: 19px;
                            line-height: 32px;
                            color: #fff;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}
section.main{
    padding: 0 40px;
    .wrapper{
        max-width: 1200px;
        display: flex;
        padding-bottom: 78px;

        .sidebar{
            padding-top: 149px;
            flex: 0 0 240px;
            ul{
                display: flex;
                flex-direction: column;
                li{
                    padding-bottom: 28px;
                    a{
                        font-size: 39px;
                        color: #5C5B5B;
                        font-weight: bold;
                    }
                    &.active{
                        a{
                            font-size: 50px;
                            color: #000;
                        }
                    }
                }
            }
        }
        .sidebar-has-child{
            padding-top: 149px;
            padding-right: 25px;
            flex: 0 0 240px;
            ul{
                li{
                    font-size: 20px;
                    line-height: 24px;
                    a{
                        border-bottom: 1px solid #929292;
                        display: block;
                        padding-bottom: 17px;
                        margin-bottom: 17px;
                        .writer{
                            font-weight: bold;
                            color: #5C5B5B;
                        }
                        .descr{
                            font-size: 18px;
                        }
                    }
                    & > ul{
                        padding-left: 20px;
                        li{

                        }
                    }
                }
            }
            & > ul > li:last-child a{
                border-bottom: none;
            }
        }
        .content{
            padding-top: 78px;
            flex: 1 auto;
            h2{
                font-family: $hoefler;
                font-size: 38px;
                font-weight: bold;
                padding-bottom: 47px;
                color: #3c3c3c;
            }
            .nav-news{
                padding: 15px 0;
                margin-top: 21px;
                text-align: right;

                .switcher{
                    .pages{
                        font-size: 26px;
                        padding: 0 13px;
                    }
                    display: flex;
                    align-items: center;
                    .news-prev, .news-next{
                        display: inline-block;
                        width: 46px;
                        height: 25px;
                        border: 1.25362px solid #000000;
                        background-repeat: no-repeat;
                        background-position: center;

                        &.deactivate{
                            border: 1px solid transparent;
                        }

                        &:hover:not(.deactivate){
                            background-image: url('../img/icons/white-arrow.png');
                            background-color: #3c3c3c;
                            border: 1.25362px solid #3c3c3c;
                        }
                    }
                    .news-prev{
                        margin-left: auto;
                        background-image: url('../img/icons/arrow.png');
                        transform: rotate(180deg);

                        &.deactivate{
                            background-image: url('../img/icons/arrow-dis.png');
                            transform: rotate(0deg);
                        }
                    }
                    .news-next{
                        background-image: url('../img/icons/arrow.png');

                        &.deactivate{
                            background-image: url('../img/icons/arrow-dis.png');
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}
footer.footer{
    background: #ebebeb;
    padding: 0 40px;
    .wrapper{
        padding-bottom: 20px;
        position: relative;
        &:after{
            width: 67px;
            height: 24px;
            content: '';
            position: absolute;
            background-image: url('../img/logo.png');
            right: 0;
            bottom: 20px;
        }
        max-width: 1200px;
        display: flex;
        .sidebar{
            flex: 0 0 340px;
            padding-top: 72px;

            .signature{
                padding-bottom: 34px;
                p{
                    font-family: $forum;
                    font-size: 15px;
                    line-height: 24px;
                    text-transform: uppercase;
                }
            }
            nav.nav-footer{
                display: flex;
                ul{
                    width: 50%;
                    li{
                        margin-bottom: 23px;
                        a{
                            font-size: 15px;
                            color: #000;
                            &:hover{
                                border-bottom: 2px solid #3c3c3c;
                                color: #3a3a3a;
                            }                  
                        }
                        &.carret{
                            a{
                                color: #363636;
                            }
                        }
                    }
                }
            }
        }
        .main-footer{
            flex: 1 auto;
            padding-top: 126px;

            .top{
                display: flex;
                justify-content: space-between;
                padding-bottom: 24px;
                .find{
                    h3{
                        font-size: 20px;
                        font-weight: bold;
                        text-align: center;
                    }
                    .input-group{
                        padding-top: 33px;
                        display: flex;
                        justify-content: space-between;
                        input{
                            font-size: 13px;
                            color: #848181;
                            background: transparent;
                            border: none;
                            padding-bottom: 7px;
                            border-bottom: 1px solid #000;
                            width: 265px;
                            margin-right: 5px;
                        }
                        a{
                            font-size: 11px;
                            letter-spacing: 0.09em;
                            text-transform: uppercase;
                            color: #696969;
                            padding: 7px;
                            border: 1px solid #696969;
                            &:hover{
                                color: #000;
                                border: 1px solid #000;
                            }
                        }
                    }
                    .donate{
                        font-size: 23px;
                        letter-spacing: 0.09em;
                        color: #696969;
                        padding: 7px;
                        border: 1px solid #696969;
                        text-transform: uppercase;
                        display: block;
                        text-align: center;
                        margin-top: 28px;
                        &:hover{
                            color: #000;
                            border: 1px solid #000;
                        }
                    }
                }
                .contacts{
                    text-align: right;
                    h3{
                        font-size: 20px;
                        font-weight: bold;
                    }
                    p.email{
                        font-size: 15px;
                        padding-top: 37px;
                        padding-bottom: 22px;
                    }
                }
            }
            .bottom{
                p{
                    font-size: 15px;
                    line-height: 18px;
                    &:first-child{
                        padding-bottom: 7px;
                    }
                }
            }
        }
    }
}